<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jeopardy Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .question-container {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="question-container">
        <h1>Daily Jeopardy</h1>
        <h2>Category: {{ data.category }}</h2>
        {% if data.value != "None" %}
            <h3>For ${{ data.value }}</h3>
        {% else %}
            <h3>For $200</h3>
        {% endif %}
        <h3>Clue: {{ data.question }}</h3>
    </div>
    <hr>
    <div>
        <h3>Answer: {{ data.answer }}</h3>
        <p>Add your winnings here (if you were correct): {{ data.link }}</p>
    </div>
</body>
</html>

